@page
@using InstaDOTNET.Models.Interfaces
@inject IImage ImageManager
@{ 
    Layout = "_Layout";
}
@{
    var images = await ImageManager.GetImagesAsync();
}
<div class="center pad-top-xs">
    <button href="/">+ Add a Post</button>
</div>
<main>
    @foreach (var image in images)
    {
        <div class="pad-bottom-m pad-top-s pad-left-s pad-right-s">
            <div class="polaroid hover-shadow">
                <img src="@image.URL" class="thin-border" />
                <h2><a asp-page="/Images/Index" asp-route-id="@image.ID" class="text-red">@image.Name</a></h2>
                <table>
                    <tbody>
                        <tr class="pad-bottom-xs text-s">
                            <td class="pad-right-xs">By:</td>
                            <td>@image.Author</td>
                        </tr>
                    </tbody>
                </table>
                <p class="container-s text-caption pad-bottom-s pad-top-s">"@image.Caption"</p>
            </div>
        </div>
    }
</main>
