@page
@using InstaDOTNET.Models.Interfaces
@inject IImage ImageManager
@{ 
    Layout = "_Layout";
    var images = await ImageManager.GetImagesAsync();
}
@*<div class="center pad-top-m pad-bottom-m">
    <a asp-page="/Images/Manage" class="button hover-shadow">+ Add a Post</a>
</div>*@
<main>
    @foreach (var image in images)
    {
        <div class="pad-bottom-m pad-top-s pad-left-s pad-right-s frame">
            <div class="polaroid hover-shadow pad-bottom-s ">
                <img src="@image.URL" class="picture-frame" />
                <div class="flex-row-container space-between auto-align">
                    <table>
                        <tbody>
                            <tr class="pad-bottom-xs text-s">
                                <td class="pad-right-xs bold">By:</td>
                                <td class="text-m text-caption-m bold text-red">@image.Author</td>
                            </tr>
                        </tbody>
                    </table>
                    <div>
                        <a asp-page="/Images/Index" asp-route-id="@image.ID" class="text-red a" title="View Details/Edit"><i class="far fa-image"></i></a>
                        <a asp-page="/Images/Comments" asp-route-id="@image.ID" title="Comment" class="a"><i class="a far fa-comment"></i></a>
                    </div>
                </div>
                <div class="caption text-caption pad-top-xs scrollable">"@image.Caption"</div>
            </div>
        </div>
    }
</main>
